# Set the default behavior to automatically normalize line endings.
* text=auto

# Define how Git should handle specific file types.
*.js    text
*.jsx   text
*.css   text
*.html  text
*.json  text
*.md    text
*.sh    text eol=lf
*.bat   text eol=crlf
